<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BLD_Master.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <BLD_Master.Properties.Settings>
            <setting name="ebf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="cbf" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="wbf" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ori" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="dftOri" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="upsetCoord" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="signNum" serializeAs="String">
                <value>True</value>
            </setting>
        </BLD_Master.Properties.Settings>
    </userSettings>
</configuration>